@import "../variables";

.trade-operation {
  font-family: $font-family-monospace;
  padding: $spacer;
  .nav-link.active {
    color: $primary;
  }
  .input-group, button {
    margin-top: $spacer * .75;
  }
  input[type=number] {
    text-align: right;
  }
  button {
    width: 100%;
    text-transform: uppercase;
  }
}
